@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-width: 100%;
  background-color: #f0f0f0;
  position: relative;
}

a {
  text-decoration: none;
}

/*==========================HEADER==========================*/
.header {
  height: 70px;
}

.header-content {
  max-width: 1200px;
}

.modal-btns {
  background-color: transparent;
  border: transparent;
  margin-right: 1rem;
  font-size: 1.062rem;
}

/*==========================BANNER==========================*/

.top-jobs {
  font-size: 2rem;
}

.banner-content-container {
  max-width: 1200px;
  padding: 1rem;
}

.banner-parent {
  background-color: #007fed;
  width: 100%;
}


.hire-btn {
  border: 2px solid #F20091;
  background-color: #F20091;
  font-size: .9rem;
  width: 120px;
  margin-right: .8rem;
}

.work-btn {
  border: 2px solid white;
  font-size: .9rem;
  width: 120px;
}



/*==========================JOB SEARCH==========================*/

.job-search {
  height: 70px;
  max-width: 1200px;
  background: white;
}

.input-field input {
  border: transparent;
}

.input-field input:focus {
  outline: none;
}

.divider {
  border-bottom: 1px solid rgb(185, 182, 182);
}

.search-btn, .online-jobs, .divider {
  display: none;
}


/*==========================Footer==========================*/



.footer-container {
  background-color: #161e2c;
  color: white;
  padding: 4rem 0;
}

.footer-content {
  max-width: 1200px;
}

.col-left .logo {
  padding: 1rem 0;
  border-bottom: 1px solid #4D525B;
}

.footer-logo {
  width: 40px;
  height: 50px;
  color: white;
  margin-left: .8rem;
}

.footer-divider {
  border-bottom: 2px solid #4D525B;
  padding: 1rem .8rem;
}

.language, .support {
  display: flex;
  align-items: center;

}

.language span, .support span {
  margin-left: .6rem;
  font-size: .9rem;
}

ul, li {
  list-style-type: none;
}

.freelancer ul li, .about ul li, .terms ul li {
  color: #BEC0C2;
  font-size: .9rem;
  margin-bottom: .1rem;
}


.stores img {
  width: 120px;
}

.stores img:nth-child(1) {
  margin: 0 .8rem;
}

.social-icons i {
  color: white;
  font-size: 1rem;
}

.aside {
  margin: 1rem;
}

.user-info .count, .job-info .count {
  margin-right: .6rem;
  font-size: .9rem;
}

.text {
  font-size: .9rem;
  letter-spacing: 1px;
  color: #c0c0c0;
}

.copyright {
  font-size: .8rem;
}

.footer-navigation {
  width: 80%;
}

/*==========================Modal==========================*/


.modal {
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.login-splash img {
  height: 100px;
}

.fb-login-btn {
  border: transparent;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #3b5c9f;
  padding: .8rem .6rem;
}

.fb-login-btn i {
  margin-right: .4rem;
}

.login-divider-content .login-divider {
  border: 1px solid #8a8a8a;
  width: 100%;
}

.form .form-control::placeholder {
  font-size: 1rem;
}

.form button {
  font-weight: bold;
}

.forgot-pass {
  color: #007fed;
}

.login-footer-divider {
  border: 1px solid #96989b;
  width: 100%;
}

.signup-link {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.signup-link span:nth-child(2), .signup-aside small span {
  color: #007fed;
}


/*=========================Media Query===========================*/

@media only screen and (min-width: 476px) {
  .job-search {
    height: 190px;
  }

  .divider {
    display: block;
  }

  .input-content {
    border: 1px solid rgb(185, 182, 182);
  }

  .online-jobs {
    display: flex;
    align-items: center;
  }

  .search-btn {
    display: block;
    border: transparent;
    background-color: #007fed;
    color: white;
    font-weight: bold;
    font-size: 1.062rem;
    letter-spacing: 1px;
  }

  .footer-navigation {
    width: 100%;
  }
}


@media only screen and (min-width: 992px) {
  .banner-content-container {
    height: 120px;
  }

  .hire-btn, .work-btn {
    height: 40px;
  }

  .job-search {
    height: 70px;
  }

  .input-content {
    border: none;
    width: 85%;
  }

  .input-field {
    flex: 1;
    border-right: 1px solid rgb(185, 182, 182);

  }

  .online-jobs {
    flex: 1;
  }

  .search-btn {
    flex-direction: .6;
    height: 100%;
    width: 15%;
  }

  .footer-divider {
    border: transparent;
  }

  .col-left .logo {
    border: transparent;
  }

}

@media only screen and (max-width:768px) {
  .footer-navigation {
    margin-left: 1rem;
  }

  .social li {
    margin: 0 0 1rem 0;
  }
}