.jobs-content {
    max-width: 1200px;
    width: 100%;
    display: flex;
    margin: 1rem;
}

/*=============================Filter Section==========================*/

.filter-container, .hidden {
    width: 30%;
    margin-right: 1.8rem;
    background-color: white;
    display: flex;
    align-items: center;
    height: min-content;
}

.filter-divider {
    border-bottom: 1px solid rgb(224, 223, 223);
}



.filter-container input[type=text], .hidden input[type=text] {
    width: 67px;
    height: 40px;
    border-radius: none;
    border: 1px solid rgb(206, 206, 206);
    margin: 1.3rem 0;
    outline: none;
    padding-left: .8rem;
}

.add-input {
    border: 1px solid rgb(206, 206, 206);
    height: 40px;
    margin-top: 1rem;
}

.add-input input {
    width: inherit;
    height: 38px;
    border: transparent;
}

.add-input span {

    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 1rem;
    color: rgb(104, 104, 104);
}

/*=============================Jobs Section==========================*/
.jobs-list-section {
    background-color: white;
    width: 70%;
}

.jobs-list-header span {
    font-size: .9rem;
}

.jobs-body {
    cursor: pointer;
}

.jobs-body .left-col {
    width: 67%;

}

.jobs-body .right-col {
    width: 30%;
    margin-left: 2rem;
}

.time {
    font-size: .9rem;
}

.job-description {
    font-size: .97rem;
}

.jobs-tag span {
    display: block;
    margin-right: 1rem;
    font-size: .9rem;
    color: #007fed;
}

.bid-btn button {
    display: none;
}

.pagination span{
    border: 1px solid rgb(165, 165, 165);
    display: block;
    padding: .5rem 1rem;  
    text-align: center; 
}

.pagination span:nth-child(3){
    border: 1px solid rgb(165, 165, 165);
    display: block;
    padding: .5rem 1rem;
    background-color: #007fed;   
}

.jobs-container .divider{
    margin: 3rem 0 9rem 0;
    max-width: 1200px;
}

@media only screen and (min-width:992px) {
    .bid-btn button {
        border: transparent;
        background: #4fb55d;
        padding: .2rem .6rem;
        font-weight: bold;
        font-size: .9rem;
        color: white;
    }

    .jobs-body:hover .bid-btn button {
        display: block;
    }
}

@media only screen and (max-width:992px) {
    .hidden {
        display: none;

    }

    .jobs-list-section {
        width: 100%;
    }

    .filter-container {
        position: absolute;
        width: 100vw;
        max-width: 100%;
        margin: 0;
        top: 0;
        left: 0;
        overflow-y: scroll;
    }

    .filter-container input[type=text] {
        width: 45%;
    }

    .job-content-container {
        flex-direction: column;
    }

    .jobs-body .left-col {
        width: 100%;
    }

    .jobs-body .right-col {

        margin-left: 0;
        margin-top: 1.2rem;
        width: 100%;
    }

}